%h2 Create a Posting

#posting-area
  = simple_form_for @posting do |f|
  
    = f.input :display_name, :hint => 'optional'
    = f.input :body
  
    = f.input :languages, :collection => Posting::LANGUAGES, :as => :check_boxes

    = f.button :submit